.MuiPaper-root {
    margin: 0 auto;
}

.btn-class.MuiButton-root {
    border: unset !important;
    outline: unset !important;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    min-width: 150px;
    min-height: 44px;
    border-radius: 28px;
    background-color: #00b464 !important;
    color: #ffffff;
    box-shadow: unset;
    text-transform: none;
}

.menu-tab {
    min-width: 900px;

}

.btn-class.MuiButton-root :hover {
    box-shadow: unset;
}

.MuiPaper-root.MuiTableContainer-root {
    min-width: 800px !important;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12)
}

.MuiTypography-h5.main-title {
    color: #00b464 !important;
}

.MuiCardContent-root {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.MuiPaper-root.MuiCard-root {
    box-shadow: 0px 25px 30px rgba(112, 136, 210, 0.2);
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    top: 174 !important;
}

.btn-class-default.MuiButton-root {
    border: unset !important;
    font-family: "Roboto", sans-serif;
    outline: unset !important;
    font-size: 1rem;
    font-weight: 500;
    min-width: 150px;
    min-height: 44px;
    border-radius: 28px;
    background-color: #e7e7f0 !important;
    color: #000;
    box-shadow: unset;
    text-transform: none;
}

.MuiFormHelperText-root {
    color: red !important;
}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1 {
    font-weight: bold;
}

.btn-class-default.MuiButton-root :hover {
    box-shadow: unset;
}

.max-width-in {
    padding-left: 40px;
}

.MuiDialog-paperWidthSm {
    max-width: 650px !important;
    width: 100% !important;
    border-radius: 20px !important;
    padding: 20px;
}

.check-funds .MuiFormControl-root {
    width: 170px;
}

.MuiPaper-root.MuiCard-root {

    width: 100%;
}

.login-button {
    list-style: none !important;
    text-decoration: none !important;
}

.table-loader {
    color: #00b464 !important;
    position: relative;
    margin: 20% auto 10% auto;
    left: 142%;
}


.modal-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #212B36;
}

.modal-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    text-align: center;
    color: #014077;
}

.Content-dashboard {
    position: relative;
    margin-top: 100px;
}

div.max-width {
    max-width: 1570px;
    width: 100%;
    margin: 0 auto;
}

div.max-width.max-width-padd {
    padding: 0 20px;
}

.drawer-visible-xs {
    display: none !important;
}

.login-style {
    font-size: 16px;
    color: rgb(102, 120, 226);
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.MuiAppBar-colorPrimary {
    background: rgb(219, 218, 218) !important;
}

.MuiTab-wrapper {
    color: #000;
}

.MuiTabs-scroller.MuiTabs-fixed button {
    outline: unset !important;
}

.MuiCardContent-root .MuiPaper-root div:nth-child(2) .MuiTableCell-root {
    border-bottom: 1px solid #eaedf3;
    background-color: unset;
}

.MuiCardContent-root .MuiPaper-root div:nth-child(2) .MuiTableHead-root .MuiTableRow-root.MuiTableRow-head th:first-child {
    width: 100px !important;
}

.MuiTableHead-root {
    background-color: rgb(201, 208, 231);
    border-radius: 12px !important;
}

.MuiCardContent-root .MuiPaper-root div:nth-child(2) .MuiTableBody-root .MuiTableRow-root td:first-child {
    width: 100px !important;
}

.MuiCardContent-root .MuiPaper-root div:nth-child(2) tr:last-child td.MuiTableCell-root {
    border-bottom: unset;
}

.MuiTableSortLabel-root:hover {
    color: #9ea0a5 !important
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
    color: #9ea0a5 !important
}

.MuiToolbar-root.MuiTablePagination-toolbar span:first-child button,
.MuiToolbar-root.MuiTablePagination-toolbar span:last-child button {
    display: none;
}

.MuiInputBase-root.MuiTablePagination-selectRoot {
    display: none;
}

.MuiTableCell-root.MuiTableCell-footer.MuiTablePagination-root {
    float: unset !important;
    overflow: unset !important;
    border: unset;
}

.MuiToolbar-root.MuiToolbar-regular.MuiTablePagination-toolbar:first-child {
    margin-left: 288px;
}


.MuiPaper-root td.MuiTableCell-root,
.MuiPaper-root td.MuiTableCell-root {
    font-family: "Roboto", sans-serif !important;
    font-size: 0.875rem !important;
    font-weight: normal !important;
    color: #3e3f42 !important;
}

.MuiToolbar-root.MuiTablePagination-toolbar span:first-child button,
.MuiToolbar-root.MuiTablePagination-toolbar span:last-child button {
    display: none;
}

.MuiToolbar-regular.MuiTablePagination-toolbar {
    margin-bottom: 0;
    padding: 0;
    background-color: #fff !important;
    border: none;
}

td.MuiTableCell-root.MuiTableCell-footer.MuiTablePagination-root {
    border: 0;
}

.MuiButtonBase-root.MuiTableSortLabel-root div {
    font-size: 12px !important;
    color: #45474d !important;
    font-weight: bold;
}

@media (max-width: 991px) {
    .drawer-visible-xs {
        display: inline-flex !important;
    }

    .custom-card.card-dashboard .card-bg-grey-user {
        width: 100%;
        height: auto;
        padding: 15px 15px;
    }

    .custom-horizontal-tab.visible-xs {
        display: flex !important;
    }

    .visible-xs {
        display: block;
    }

    .bg-grey {
        background: #fff;
    }

    .max-width-in {
        padding-left: unset;
    }

    .MuiPaper-root.MuiTableContainer-root {
        min-width: unset !important;
    }

}